<style>
  .all {
    background-color: cyan;
    height: 95vh;
    width: 50vw;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: top;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 300px;
  }

  .button1 {
    width: 50%;
  }

  .background {
    background-color: cornsilk;
    width: 50%;
  }
  .background2 {
    background-color: chartreuse;
    width: 50%;
    height: 150px;
  }
  .title {
    color: blue;
  }
  .fruitField {
    border: green solid 5pt;
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .fruit {
    height: 30px;
    width: 30px;
  }
  .fruitImage {
    height: 100%;
    width: 100%;
  }
</style>
<div class="all">
  <div class="background">
    <h1 class="title">{{ niceTitle }}</h1>
  </div>

  <button (click)="toggleFruitInventoryDisplay()" class="button1">
    Show fruit inventory
  </button>

  <div class="background2">
    <p *ngFor="let fr of fruits" [hidden]="!showThisBit" class="title">
      {{ fr.name }}s: {{ fr.quantity }}
    </p>
  </div>

  <button (click)="refruit()" class="button1">Refruit!</button>

  <div class="fruitField">
    <div *ngFor="let fr of fruits" class="fruit">
      <img
        class="fruitImage"
        *ngIf="fr.show"
        (click)="getFruit(fr.key)"
        src="{{ fr.src }}"
        [style.marginTop]="fr.margin"
      />
    </div>
  </div>
</div>
